<div class="cta">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row">
      <div class="col-lg-6 mb-2">
        <h1>Take Back Control</h1>
        <p class="lead">Whether your issue is pain, leakage, weakness or tightness, we can provide you the tools to manage your condition.</p>
        <a href="/contact/" class="button">Book Appointment</a>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <div class="footer-title">
            <a href="{{ site.baseurl }}">
              <img width="{{ site.logo.footer_width }}" height="{{ site.logo.footer_height }}" alt="{{ site.title }}" src="{{ site.logo.footer | relative_url }}" />
            </a>
          </div>
          <div>
            <ul>
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
          {% include social.html %}
          </div>
        </div>
      </div>
      <div class="col-12 mt-3 mt-md-5">
        <h4>Acknowledgement of Country</h4>
        <p class="country">North West Pelvic health acknowledges the Traditional Custodians across the lands, waters and seas where we all work and live. We pay our respects to Elders past, present and future, and thank them for their guidance and leadership.</p>
      </div>
    </div>
  </div>
</div>
