---
title: Contact
layout: default
bodyClass: "page-contact"
---
<div class="intro">
  <div class="container">
      <div class="row">
          <div class="col-12 col-xl-8">
              <h1 class="title">{{page.title}}</h1>
              <p>{{page.subtitle}}</p>
              {% include call.html show_button=true %}
          </div>
      </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
      <div class="col-md-6">
          <div class="content">
              {{content}}
              <form action="https://formspree.io/f/mwkypezz" method="POST" class="mt-5">
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="name">Full Name</label>
                      <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Jane Doe">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="you@example.com">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="phone">Phone</label>
                      <input type="text" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" placeholder="0438 987 123">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="find">How Did You Find Us?</label>
                      <select class="form-control" id="find" name="find" aria-describedby="findHelp">
                        <option disabled selected value=""> -- Select Option -- </option>
                        <option value="Google">Google</option>
                        <option value="Bing">Bing</option>
                        <option value="DuckDuckGo">DuckDuckGo</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Instagram">Instagram</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                  </div>
                </div>
                
                
                
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" id="message" name="message" rows="5" placeholder="I need help with..."></textarea>
                </div>
                <button type="submit" class="button">Send Email</button>
              </form>
          </div> 
      </div>
      <div class="col-md-6 pl-5">
        <div class="content">          
            <h3>Ulverstone Clinic</h3>
              Located at ELPE Health<br>
              8 Gollan Street, Ulverstone TAS 7315
            <table>
              <tbody>
                <tr>
                  <td><strong>Monday</strong></td>
                  <td><strong>09:00 - 16:00</strong></td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>By Appointment</td>
                </tr>
                <tr>
                  <td><strong>Wednesday</strong></td>
                  <td><strong>09:00 - 16:00</strong></td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>By Appointment</td>
                </tr>
                <tr>
                  <td>Friday</td>
                  <td>By Appointment</td>
                </tr>
              </tbody>
            </table>

            <hr>

          <h3>Wynyard Clinic</h3>
          Located at Wynyard Medical Centre<br>
          138 Goldie Street, Wynyard TAS 7325

          <table>
          <tbody>
            <tr>
              <td>Monday</td>
              <td>By Appointment</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>By Appointment</td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td>By Appointment</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>By Appointment</td>
            </tr>
            <tr>
              <td><strong>Friday</strong></td>
              <td><strong>09:00 - 16:00</strong></td>
            </tr>
          </tbody>
          </table>
        </div> 
    </div>
  </div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d161751.163439682!2d146.0013644999951!3d-41.122369736080934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xaa7bc8e0282fc899%3A0x8ee1510ad18406dd!2s8%20Gollan%20St%2C%20Ulverstone%20TAS%207315!5e0!3m2!1sen!2sau!4v1640317575910!5m2!1sen!2sau" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="d-block"></iframe>