<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  
  <title>{{page.title}} | North West Pelvic Health</title>
  <meta name="title" content="{{page.title}} | North West Pelvic Health">
  <meta name="description" content="{{ page.description }}" />
  
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{page.title}} | North West Pelvic Health">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="https://northwestpelvic.health/images/banner.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page.url | absolute_url }}">
  <meta property="twitter:title" content="{{page.title}} | North West Pelvic Health">
  <meta property="twitter:description" content="{{ page.description }}">
  <meta property="twitter:image" content="https://northwestpelvic.health/images/banner.png">

  <script defer data-domain="northwestpelvic.health" src="https://plausible.io/js/plausible.js"></script>

</head>

<body class='page {{layout.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  <script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
</body>
</html>
