<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="{{ '/images/favicon.svg' | relative_url }}">
  <!-- Google Fonts CDN -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <!-- Self host font -->
  <!-- <link rel="preload" href="{{ '/assets/fonts/playfair-display.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin> -->
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  
  <title>{{page.title}} | North West Pelvic Health</title>
  <meta name="title" content="{{page.title}} | North West Pelvic Health">
  <meta name="description" content="{{ page.description }}" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{page.title}} | North West Pelvic Health">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="https://northwestpelvic.health/images/banner.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page.url | absolute_url }}">
  <meta property="twitter:title" content="{{page.title}} | North West Pelvic Health">
  <meta property="twitter:description" content="{{ page.description }}">
  <meta property="twitter:image" content="https://northwestpelvic.health/images/banner.png">

  <script defer data-domain="northwestpelvic.health" src="https://plausible.io/js/plausible.js"></script>

</head>

<body class='page {{layout.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  <script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
</body>
</html>
